---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { type Article } from '../../types';
import { getArticles } from '../../helpers/article'
import TimeAgo from '../../components/TimeAgo.astro';
import Comment from '../../components/Comment.astro';
import ArticleNav from '../../components/ArticleNav.astro';
import ArticleTag from '../../components/ArticleTag.astro';

export async function getStaticPaths() {
	const articles = await getArticles();
	return articles.map((article) => {
		const index = articles.findIndex((a) => a.slug === article.slug);
		const next = index === articles.length - 1 ? null : articles[index + 1];
		const prev = index === 0 ? null : articles[index - 1];
		return {
			params: { slug: article.slug },
			props: {
				article,
				next,
				prev
			}
		}
	});
}

type Props = {
	article: Article;
	next: Article | null;
	prev: Article | null;
};

const { article, prev, next } = Astro.props;
const { Content } = await article.render();

---

<BaseLayout title={article.data.title} description={article.data.description} image={article.data.heroImage}>
	<article>
		<h1 class="text-3xl mb-4">{article.data.title}</h1>
		<div class="text-sm text-gray-500 mb-8">
			<TimeAgo date={article.data.date} />
		</div>
		<div class="prose dark:prose-invert">
			<Content />
		</div>
	</article>

	<ArticleTag tags={article.data.tags} />

	<ArticleNav prev={prev} next={next} />

	<div class="pt-4">
		<Comment />
	</div>
	
</ArticleLayout>
