---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { type Article } from '../../types';
import { getArticles } from '../../helpers/article'
import TimeAgo from '../../components/TimeAgo.astro';

export async function getStaticPaths() {
	const articles = await getArticles();
	return articles.map((article) => {
		const index = articles.findIndex((a) => a.slug === article.slug);
		const next = index === articles.length - 1 ? null : articles[index + 1];
		const prev = index === 0 ? null : articles[index - 1];
		return {
			params: { slug: article.slug },
			props: {
				article,
				next,
				prev
			}
		}
	});
}

type Props = {
	article: Article;
	next: Article | null;
	prev: Article | null;
};

const { article, prev, next } = Astro.props;
const { Content } = await article.render();

---

<BaseLayout title={article.data.title} description={article.data.description} image={article.data.heroImage}>
	<article>
		<div class="hero-image">
			{article.data.heroImage && <img width={1020} height={510} src={article.data.heroImage} alt="" />}
		</div>
		<h1 class="text-3xl mb-4">{article.data.title}</h1>
		<div class="text-sm text-gray-500 mb-8">
			<TimeAgo date={article.data.date} />
		</div>
		<div class="prose dark:prose-invert">
			<Content />
		</div>
	</article>
	<div>
		{
			article.data.tags.map((tag) => (
				<a href={`/tags/${tag}`} class="tag">
					{tag}
				</a>
			))
		}
	</div>
	<div class="flex flex-col sm:flex-row mt-10 gap-4 w-full">
		{prev && (
			<a href={`/articles/${prev.slug}`} class="group flex-1 text-sm flex flex-col grow p-3 rounded-lg border hover:border-gray-500 dark:border-gray-700 dark:hover:border-white transition-all space-y-1">
				<p class="text-gray-500">上一篇</p>
				<p class="font-semibold text-gray-900 dark:text-white">{prev.data.title}</p>
			</a>
		)}
		{next && (
			<a href={`/articles/${next.slug}`} class="group flex-1 text-sm flex flex-col grow p-3 rounded-lg border hover:border-gray-500 dark:border-gray-700 dark:hover:border-white transition-all space-y-1">
				<p class="text-gray-500">下一篇</p>
				<p class="font-semibold text-gray-900 dark:text-white">{next.data.title}</p>
			</a>
		)}
	</div>
</ArticleLayout>
